<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>

	
	<link name="base_link">
		
	</link>
	
	<joint name="chassis_joint" type="fixed">
		<parent link="base_link"/>
		<child link="chassis"/>
		<origin xyz="0 0 0"/>
	</joint>
	
	<link name="chassis">
		<visual>
			<origin xyz="0 0 0.075"/>
			<geometry>
				<box size="0.54 0.54 0.12"/>
			</geometry>
			<material name="white"/>
		</visual>
	</link> 

	
</robot>
